.head{
    background:black;
}
nav{
    position:absolute;
    background:black;
    z-index: 500;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .dropdown-menu
  {
      background-color:rgb(29, 36, 52);
      color:white !important;
  }
  .dropdown-item{
      /* width:30px !important; */
      /* padding:0 !important; */
      color: white !important;
      font-size: 15px !important;
    }
.logo img{
    width:150px;
    height:50px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
  }
  .mob span{
      color:white;
  }

.wrapper
{
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0, 0, 0.9)),url(../images/preview-195598-wSPLWjfONB-high_0000.jpg);
    background-attachment:fixed;
    background-size:100% 100%;
}
.hero
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0, 0, 0.8)),url(../images/preview_image_sge.jpg);
    background-size:cover;
     height:40vh;
}
.line{
    width:200px;
    height:20px;
    border-top: 2px solid white;
    text-align: center;
    /* color:#2bc9cc */
    margin-bottom: 10px;
}
.n1
{
    width:100%;
    height:40px;
    background:rgba(25,39,74,0.5);
    margin-bottom: 20px;
padding:5px;
}
.n2{
    width:95%;
    height:40px;
    background:rgba(25,39,74,0.5);
    margin-bottom: 20px;
padding:5px;
}
.n1 h4,.n2 h4{
color:white;
}
.main2,.main3,.main4{
width:95%;
/* height:550px; */
background:linear-gradient(rgba(25,39,74,0.5),rgba(25,39,74,0.5));
border-radius: 10px;

}
.main2 p,.main3 p,.main4 p{
    color:rgba(255,255,255,0.7);
    
}

.main2 img,.main3 img,.main4 img{
    width:100%;
    height:325px;
}
.btn-service
{
   
width:180px;
height:50px;
border:2px solid white;
border-radius: none;
/* background-color:; */
color:white;
}
.main
{
    background:linear-gradient(rgba(25,39,74,0.5),rgba(25,39,74,0.5));
    width:100% !important;
     height:100px;
     display: flex;
     justify-content: center;
     align-items: center;
    border-radius: 10px;

     /* text-align: center; */
}
.main p{
    font-size: 16px;
    color:rgba(255,255,255,0.7);
}
.grad
{
    
    background:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #19274a 57.81%, #19274a 100%);
    background-size:100% 100%;
    height:300px;
    display: flex;
    justify-content:center;
    align-items: end;
    margin-top: 30px;
    padding: 25px;
    border-radius: 10px;
}
.contact
{
background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0, 0, 0.8)), url(../images/0-5599_los-angeles.jpg);
background-size: cover;
}
.btn-contact
{
    background-color:rgba(25,39,74,0.9);
    color:white;
}
.flag img{
    width:40px;
    height:25px;
}
.contact h6 span,.contact p
{
    color:rgba(255,255,255,0.7);

}
.relative{
    background: black;
}
.relative ul li a {
    padding-left: 15px;
text-decoration: none;
font-size: 20px;

    }
    .footer
    {
        background-image: url(../images/images.jpg);
        background-size: cover;
    }
    .footer p a{
        text-decoration: none;
        color:white;
    }
    .follow ul li{
        width:40px;
    height:40px;
    background-color:white;
    color:rgb(29, 36, 52);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .follow ul li a{
        text-decoration: none;
    color:rgb(29, 36, 52);
    
    }
    .follow ul li i
    {
        display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    }
    
@media (min-width:768px)
{
    .wrapper{
        /* height: 400vh; */
    }
    .navi ul li
    {
        margin-left: 25px;
    }
    .navi ul li a{
        font-size: 20px;
           color:white;
           text-decoration: none;

   }
   .dropdown-menu
   {
       background-color:rgb(29, 36, 52);;
       color:white !important;
   }
   .dropdown-item{
       /* width:30px !important; */
       /* padding:0 !important; */
       color: white !important;
       font-size: 15px !important;
     }
   .navi ul li a:hover{

       color:#2bc9cc; 
   }
   .hero{
       height:100vh;
   }
   .hero h1{
       font-size: 55px;
   }
   .contact{
       /* height:60vh; */
   }
   .relative{
    height:10vh;
}
.relative ul li {
padding-left: 50px;
}
}